# .env
DOMAIN=https://vw.domain.com
ADMIN_TOKEN= # genereate a random token for admin access learn more at: https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page#using-argon2
SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=true

# SMTP settings
SMTP_HOST=smtp.gmail.com
SMTP_FROM=no-reply@domain.com
SMTP_PORT=587
SMTP_SSL=false
SMTP_USERNAME=no-reply@domain.com
SMTP_PASSWORD=super_secure_smtp_password